.button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: hsl(143, 65%, 41%);
  padding: 20px 30px;
  border-radius: 8px;
}

.button:hover {
  background-color: hsl(143, 65%, 30%);
}
